In [1]:
import pandas as pd
import csv
import pyodbc
from kmodes.kmodes import KModes

In [2]:
database = "AlgoRhythmDB"
user = "AlgorhythmUser"
password  = "DataSPROL!"
server = "gen10-data-fundamentals-21-11-sql-server.database.windows.net"

In [3]:
conn_str = ("Driver={SQL Server};"
            "Server=" + server + ";"
            "Database=" + database + ";"
            "UID=" + user + ";"
            "PWD=" + password + ";")
conn = pyodbc.connect(conn_str)

df = pd.io.sql.read_sql("SELECT * from Health_Insurance_Data_Table", conn)

In [18]:
#df = pd.read_csv("pppub21.csv")

In [4]:
df.dtypes

,PEHSPNON,PH_SEQ,AGE1,PEAFEVER,A_HGA,A_SEX,PEDISDRS,PEDISEAR,PEDISEYE,PEDISOUT,...,MOOP2,PEMCPREM,PHIP_VAL,POTC_VAL,PMED_VAL,PHIP_VAL2,PECOULD,PEOFFER,HEA,timestamp
0,2,1,12,2,39,2,1,2,2,1,...,200,0,0,200,0,0,0,0,4,1643833715931
1,1,1,12,2,39,1,2,2,2,2,...,200,0,0,200,0,0,0,0,3,1643833717590
2,2,1,17,2,39,2,2,2,1,2,...,500,3000,0,500,0,0,0,0,4,1643833718598
3,2,2,15,2,43,2,2,1,2,2,...,6600,0,2400,200,4000,2400,0,0,3,1643833719649
4,2,2,15,2,39,1,2,2,2,2,...,2200,0,0,200,2000,0,0,2,3,1643833720654
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163538,1,47544,0,-1,0,2,-1,-1,-1,-1,...,50,0,0,50,0,0,0,0,1,1643917363514
163539,1,47544,0,-1,0,2,-1,-1,-1,-1,...,50,0,0,50,0,0,0,0,1,1643917364520
163540,2,47544,6,2,39,2,2,2,2,2,...,75,0,0,75,0,0,0,0,1,1643917365574
163541,1,47550,14,2,33,1,2,2,2,2,...,3100,0,2400,300,400,2400,0,0,2,1643917366630
163542,2,47554,5,1,39,2,2,2,2,2,...,300,0,0,300,0,0,0,0,3,1643917367635

In [5]:
df2 = df[["PEHSPNON","PH_SEQ","AGE1","PEAFEVER","A_HGA","A_SEX","PEDISDRS","PEDISEAR","PEDISEYE","PEDISOUT","PEDISPHY","PEDISREM","PRDISFLG","PRDTRACE","A_MJIND","A_GRSWK","A_HRSPAY","A_CLSWKR","A_WKSTAT","PEARNVAL","PTOTVAL","AGI","PERLIS","COV","COV_CYR","PUB","PUB_CYR","DEPPRIV","GRP","DIR","MRK","NONM","CAID","OTHMT","MCARE","MIL","CHAMPVA","VACARE","MOOP","MOOP2","PEMCPREM","PHIP_VAL","POTC_VAL","PMED_VAL","PHIP_VAL2","POTC_VAL","HEA"]]

df2

,PEHSPNON,PH_SEQ,AGE1,PEAFEVER,A_HGA,A_SEX,PEDISDRS,PEDISEAR,PEDISEYE,PEDISOUT,...,VACARE,MOOP,MOOP2,PEMCPREM,PHIP_VAL,POTC_VAL,PMED_VAL,PHIP_VAL2,POTC_VAL,HEA
0,2,1,12,2,39,2,1,2,2,1,...,2,200,200,0,0,200,0,0,200,4
1,1,1,12,2,39,1,2,2,2,2,...,2,200,200,0,0,200,0,0,200,3
2,2,1,17,2,39,2,2,2,1,2,...,2,500,500,3000,0,500,0,0,500,4
3,2,2,15,2,43,2,2,1,2,2,...,2,6600,6600,0,2400,200,4000,2400,200,3
4,2,2,15,2,39,1,2,2,2,2,...,2,2200,2200,0,0,200,2000,0,200,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163538,1,47544,0,-1,0,2,-1,-1,-1,-1,...,2,50,50,0,0,50,0,0,50,1
163539,1,47544,0,-1,0,2,-1,-1,-1,-1,...,2,50,50,0,0,50,0,0,50,1
163540,2,47544,6,2,39,2,2,2,2,2,...,2,75,75,0,0,75,0,0,75,1
163541,1,47550,14,2,33,1,2,2,2,2,...,2,3100,3100,0,2400,300,400,2400,300,2
163542,2,47554,5,1,39,2,2,2,2,2,...,2,300,300,0,0,300,0,0,300,3

In [6]:
df3 = df2[df2["COV"] == 1]

df3

,PEHSPNON,PH_SEQ,AGE1,PEAFEVER,A_HGA,A_SEX,PEDISDRS,PEDISEAR,PEDISEYE,PEDISOUT,...,VACARE,MOOP,MOOP2,PEMCPREM,PHIP_VAL,POTC_VAL,PMED_VAL,PHIP_VAL2,POTC_VAL,HEA
0,2,1,12,2,39,2,1,2,2,1,...,2,200,200,0,0,200,0,0,200,4
1,1,1,12,2,39,1,2,2,2,2,...,2,200,200,0,0,200,0,0,200,3
2,2,1,17,2,39,2,2,2,1,2,...,2,500,500,3000,0,500,0,0,500,4
3,2,2,15,2,43,2,2,1,2,2,...,2,6600,6600,0,2400,200,4000,2400,200,3
4,2,2,15,2,39,1,2,2,2,2,...,2,2200,2200,0,0,200,2000,0,200,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163534,2,47539,16,2,44,2,2,2,2,2,...,2,3000,3000,1735,0,0,3000,0,0,2
163535,1,47541,12,2,43,2,2,2,2,2,...,2,5100,5100,0,3600,700,800,3600,700,4
163536,2,47541,17,1,43,1,1,2,2,1,...,2,9700,9700,3600,5000,700,4000,5000,700,5
163541,1,47550,14,2,33,1,2,2,2,2,...,2,3100,3100,0,2400,300,400,2400,300,2
163542,2,47554,5,1,39,2,2,2,2,2,...,2,300,300,0,0,300,0,0,300,3

In [8]:
df4 = df3[["AGE1","PEDISDRS","PEDISEAR","PEDISEYE","PEDISOUT","PEDISPHY","PEDISREM","PRDISFLG","HEA"]]

df4 = df4[df4["AGE1"] > 5]

df4

,AGE1,PEDISDRS,PEDISEAR,PEDISEYE,PEDISOUT,PEDISPHY,PEDISREM,PRDISFLG,HEA
0,12,1,2,2,1,1,1,1,4
1,12,2,2,2,2,2,2,2,3
2,17,2,2,1,2,2,2,1,4
3,15,2,1,2,2,2,2,1,3
4,15,2,2,2,2,2,2,2,3
...,...,...,...,...,...,...,...,...,...
163533,16,2,2,2,2,2,2,2,2
163534,16,2,2,2,2,2,2,2,2
163535,12,2,2,2,2,2,2,2,4
163536,17,1,2,2,1,1,1,1,5
163541,14,2,2,2,2,2,2,2,2

In [9]:
df5 = pd.get_dummies(df4["AGE1"])

df5

        6   7   8   9   10  11  12  13  14  15  16  17
0        0   0   0   0   0   0   1   0   0   0   0   0
1        0   0   0   0   0   0   1   0   0   0   0   0
2        0   0   0   0   0   0   0   0   0   0   0   1
3        0   0   0   0   0   0   0   0   0   1   0   0
4        0   0   0   0   0   0   0   0   0   1   0   0
...     ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
163533   0   0   0   0   0   0   0   0   0   0   1   0
163534   0   0   0   0   0   0   0   0   0   0   1   0
163535   0   0   0   0   0   0   1   0   0   0   0   0
163536   0   0   0   0   0   0   0   0   0   0   0   1
163541   0   0   0   0   0   0   0   0   1   0   0   0

[99237 rows x 12 columns]

In [13]:
df6 = pd.concat([df4,df5], axis=1)

df6.drop(["AGE1"], axis=1, inplace=True)

df6 = df6[df6["PEDISDRS"] != -1]

df6["PEDISDRS"].replace([1,2],[0,1],inplace=True)
df6["PEDISEAR"].replace([1,2],[0,1],inplace=True)
df6["PEDISEYE"].replace([1,2],[0,1],inplace=True)
df6["PEDISOUT"].replace([1,2],[0,1],inplace=True)
df6["PEDISPHY"].replace([1,2],[0,1],inplace=True)
df6["PEDISREM"].replace([1,2],[0,1],inplace=True)
df6["PRDISFLG"].replace([1,2],[0,1],inplace=True)

df6

,PEDISDRS,PEDISEAR,PEDISEYE,PEDISOUT,PEDISPHY,PEDISREM,PRDISFLG,HEA,6,7,8,9,10,11,12,13,14,15,16,17
0,0,1,1,0,0,0,0,4,0,0,0,0,0,0,1,0,0,0,0,0
1,1,1,1,1,1,1,1,3,0,0,0,0,0,0,1,0,0,0,0,0
2,1,1,0,1,1,1,0,4,0,0,0,0,0,0,0,0,0,0,0,1
3,1,0,1,1,1,1,0,3,0,0,0,0,0,0,0,0,0,1,0,0
4,1,1,1,1,1,1,1,3,0,0,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163533,1,1,1,1,1,1,1,2,0,0,0,0,0,0,0,0,0,0,1,0
163534,1,1,1,1,1,1,1,2,0,0,0,0,0,0,0,0,0,0,1,0
163535,1,1,1,1,1,1,1,4,0,0,0,0,0,0,1,0,0,0,0,0
163536,0,1,1,0,0,0,0,5,0,0,0,0,0,0,0,0,0,0,0,1
163541,1,1,1,1,1,1,1,2,0,0,0,0,0,0,0,0,1,0,0,0

In [15]:
allcolumns = df6

no_health_status = allcolumns.drop(["HEA"], axis=1)

In [16]:
km2 = KModes(n_clusters=10, init='Huang', n_init=10, verbose=1).fit_predict(allcolumns)

print(km2)

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 28636, cost: 114618.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 2, iteration: 1/100, moves: 24293, cost: 121440.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 3, iteration: 1/100, moves: 27569, cost: 111001.0
Run 3, iteration: 2/100, moves: 3701, cost: 110673.0
Run 3, iteration: 3/100, moves: 186, cost: 110673.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 4, iteration: 1/100, moves: 34789, cost: 118198.0
Run 4, iteration: 2/100, moves: 2744, cost: 118198.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 5, iteration: 1/100, moves: 19722, cost: 116815.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 6, iteration: 1/100, moves: 24735, cost: 113853.0
Run 6, iteration: 2/100, moves: 375, cost: 113853.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 7, iteration: 1/100, moves: 39291, cost: 131512.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 8, iteration: 1/100, moves: 35409, cost: 118221.0
Run 8, iteration: 2/100, moves: 2299, cost: 118221.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 9, iteration: 1/100, moves: 25630, cost: 114286.0
Run 9, iteration: 2/100, moves: 1120, cost: 114286.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 10, iteration: 1/100, moves: 35893, cost: 117168.0
Run 10, iteration: 2/100, moves: 0, cost: 117168.0
Best run was number 3
[9 2 1 ... 1 9 3]

In [17]:
km2_series = pd.Series(km2)

km2_series.value_counts()

2    23672
0    23625
3    21453
1     7699
8     6158
7     3830
6     3726
5     3335
9     2782
4     2430
dtype: int64

In [20]:
df_no_health = df3.drop(columns=["PEDISEAR","PEDISEYE","PEDISOUT","PEDISPHY","PEDISREM","PRDISFLG","HEA","PH_SEQ","COV","COV_CYR","PUB_CYR","DEPPRIV","A_HGA","A_MJIND","A_GRSWK","A_HRSPAY","A_CLSWKR","A_WKSTAT","PERLIS","MOOP2","PHIP_VAL2","PTOTVAL","PEARNVAL"])

df_no_health = df_no_health[df_no_health["AGE1"] > 5]

df_no_health.drop(columns=["AGE1"], inplace= True)

df_no_health = df_no_health[df_no_health["PEDISDRS"] != -1]

df_no_health.drop(columns=["PEDISDRS"], inplace= True)

df_no_health = df_no_health.assign(Health_Grouping = km2_series.values)

df_no_health = df_no_health.loc[:,~df_no_health.columns.duplicated()]

df_no_health

,PEHSPNON,PEAFEVER,A_SEX,PRDTRACE,AGI,PUB,GRP,DIR,MRK,NONM,...,MCARE,MIL,CHAMPVA,VACARE,MOOP,PEMCPREM,PHIP_VAL,POTC_VAL,PMED_VAL,Health_Grouping
0,2,2,2,1,10000,1,2,2,2,2,...,2,2,2,2,200,0,0,200,0,9
1,1,2,1,1,0,1,2,2,2,2,...,2,2,2,2,200,0,0,200,0,2
2,2,2,2,1,0,1,2,2,2,2,...,1,2,2,2,500,3000,0,500,0,1
3,2,2,2,1,80819,2,1,2,2,2,...,2,2,2,2,6600,0,2400,200,4000,2
4,2,2,1,1,0,2,1,2,2,2,...,2,2,2,2,2200,0,0,200,2000,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163533,2,1,1,1,0,1,1,2,2,2,...,1,2,2,2,6200,1735,4000,200,2000,3
163534,2,2,2,1,0,1,2,2,2,2,...,1,2,2,2,3000,1735,0,0,3000,3
163535,1,2,2,1,146038,2,2,1,2,1,...,2,2,2,2,5100,0,3600,700,800,1
163536,2,1,1,1,0,1,2,2,2,2,...,1,2,2,2,9700,3600,5000,700,4000,9
163541,1,2,1,1,34200,2,1,2,2,2,...,2,2,2,2,3100,0,2400,300,400,3

In [ ]:
# dummies: PRDTRACE,kmode
# 1,2 to 0,1: PEHSPNON,PEAFEVER,A_SEX,(PUB,GRP,DIR,MRK,NONM,CAID,OTHMT,MCARE,MIL,CHAMPVA,VACARE) different plans
# contious: AGI (Federal adjusted gross income)
# health groupings: kmode
# predictions: MOOP
# added to equal MOOP: PHIP_VAL, POTC_VAL,PMED_VAL

In [21]:
df_no_health1 = df_no_health[["PEAFEVER","PEHSPNON","A_SEX","PUB","GRP","DIR","MRK","NONM","CAID","OTHMT","MCARE","MIL","CHAMPVA","VACARE"]]

df_no_health1.replace({1: 1,2: 0,-1: 0}, inplace=True)

df_no_health1

C:\Users\scotty\anaconda3\lib\site-packages\pandas\core\frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,PEAFEVER,PEHSPNON,A_SEX,PUB,GRP,DIR,MRK,NONM,CAID,OTHMT,MCARE,MIL,CHAMPVA,VACARE
0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
1,0,1,1,1,0,0,0,0,1,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,0,0,1,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163533,1,0,1,1,1,0,0,0,0,0,1,0,0,0
163534,0,0,0,1,0,0,0,0,0,0,1,0,0,0
163535,0,1,0,0,0,1,0,1,0,0,0,0,0,0
163536,1,0,1,1,0,0,0,0,0,1,1,0,0,0
163541,0,1,1,0,1,0,0,0,0,0,0,0,0,0

In [22]:
df_no_health2 = df_no_health[["PRDTRACE","Health_Grouping"]]

df_dummies = pd.get_dummies(df_no_health2.astype(str))

df_dummies

,PRDTRACE_1,PRDTRACE_10,PRDTRACE_11,PRDTRACE_12,PRDTRACE_13,PRDTRACE_14,PRDTRACE_15,PRDTRACE_16,PRDTRACE_17,PRDTRACE_18,...,Health_Grouping_0,Health_Grouping_1,Health_Grouping_2,Health_Grouping_3,Health_Grouping_4,Health_Grouping_5,Health_Grouping_6,Health_Grouping_7,Health_Grouping_8,Health_Grouping_9
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163533,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
163534,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
163535,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
163536,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
163541,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [23]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import scale
from sklearn.impute import SimpleImputer
from sklearn.metrics import r2_score
import numpy as np

In [24]:
imp = SimpleImputer(missing_values = np.nan, strategy='mean')

Moop_series = pd.Series(df_no_health["MOOP"])
AGI_series = pd.Series(df_no_health["AGI"])
PHIP_VAL_series = pd.Series(df_no_health["PHIP_VAL"])
PMED_VAL_series = pd.Series(df_no_health["PMED_VAL"])
POTC_VAL_series = pd.Series(df_no_health["POTC_VAL"])

In [25]:
AGI_series.value_counts()

0         39070
1           768
30000       510
40000       386
20000       382
          ...
24220         1
70848         1
177501        1
17416         1
146038        1
Name: AGI, Length: 31803, dtype: int64

In [26]:
Moop_series.value_counts()

0       8624
100     3029
200     2443
50      2169
300     2038
        ...
2056       1
98         1
8525       1
354        1
3056       1
Name: MOOP, Length: 5891, dtype: int64

In [27]:
PHIP_VAL_series.value_counts()

0        48751
1200      2144
2400      1968
3000      1885
6000      1509
         ...
277          1
4291         1
38000        1
111          1
674          1
Name: PHIP_VAL, Length: 2161, dtype: int64

In [28]:
PMED_VAL_series.value_counts()

0       28190
500      7300
200      6580
100      6253
1000     5588
        ...
1780        1
6569        1
461         1
47          1
1392        1
Name: PMED_VAL, Length: 1035, dtype: int64

In [29]:
POTC_VAL_series.value_counts()

0       18155
100     16819
50      11213
200     10002
300      4540
        ...
151         1
1950        1
101         1
5100        1
756         1
Name: POTC_VAL, Length: 369, dtype: int64

In [30]:
df_predict_MOOP = pd.concat([df_no_health1,df_dummies], axis=1)
df_predict_PHIP_VAL = pd.concat([df_no_health1,df_dummies], axis=1)
df_predict_PMED_VAL = pd.concat([df_no_health1,df_dummies], axis=1)
df_predict_POTC_VAL = pd.concat([df_no_health1,df_dummies], axis=1)

In [39]:
X = df_predict_MOOP

y = Moop_series

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

reg = LinearRegression().fit(X_train, y_train)

y_predict = reg.predict(X_test)

r2_score(y_test,y_predict)

0.08166319741346673

In [38]:
X = df_predict_PHIP_VAL

y = PHIP_VAL_series

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

reg = LinearRegression().fit(X_train, y_train)

y_predict = reg.predict(X_test)

r2_score(y_test,y_predict)

0.09179563955658998

In [37]:
X = df_predict_PMED_VAL

y = PMED_VAL_series

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

reg = LinearRegression().fit(X_train, y_train)

y_predict = reg.predict(X_test)

r2_score(y_test,y_predict)

0.02130892024406572

In [36]:
X = df_predict_POTC_VAL

y = POTC_VAL_series

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

reg = LinearRegression().fit(X_train, y_train)

y_predict = reg.predict(X_test)

r2_score(y_test,y_predict)

0.01247662734464372